.sessao-secundaria {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 150px 20px;
  min-height: 80vh;
  
}

.texto-experiencia p {
  display: inline-block;
  color: var(--primary-color);
  font-family: var(--font);
  font-size: 28px;
}

.sessao-secundaria-conteudo {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.fonte-dancing {
  font-family: var(--secondary-font) !important;
  position: relative;
  font-size: 40px !important;
  margin-left: 8px;
  background: url(https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg)
    50% 10%;
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.fonte-dancing img {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
}

.texto-descricao {
  margin-top: 22px;
  font-family: var(--font);
  font-size: 17px;
  color: #363636;
  line-height: 1.5;
}

@media (max-width: 460px) {
  .texto-descricao {
    font-size: 14px !important;
  }

  .fonte-dancing {
    font-size: 30px !important;
  }

  .sessao-secundaria-conteudo {
    padding: 0 12px;
  }
}
