.sessao-terciario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fcfcfc;
  padding: 75px 20px;
  flex-direction: column;
  min-height: 70vh;
}
.sessao-terciario-conteudo {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.section-div {
  background: linear-gradient(to left, #ddd, white 250%);
}
.foto-regis {
  max-width: 400px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 35px 35px 0px rgba(0, 0, 0, 0.308);
}
.texto-sobre-mim {
  font-family: var(--font);
  max-width: 50%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.texto-sobre-mim h1 {
  color: var(--primary-color);
  font-weight: 400;
  border-bottom: 1px solid var(--primary-color);
  padding: 8px;
  padding-left: 0;
}
.texto-sobre-mim p {
  color: #363636;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 800px) {
  .texto-sobre-mim {
    max-width: none;
    width: 100%;
  }
  .sessao-terciario-conteudo {
    flex-direction: column;
  }

  .texto-sobre-mim h1 {
    text-align: center !important;
    width: 100%;
  }

  .texto-sobre-mim a {
    align-self: center;
  }
}

@media(max-width: 450px) {
  .sessao-terciario {
    padding: 75px 12px;

  }
}